/* Color Theme Swatches in RGBA */

.Northern-Lights-1-rgba {
    color: rgba(1, 63, 89, 1);
}

.Northern-Lights-2-rgba {
    color: rgba(1, 103, 114, 1);
}

.Northern-Lights-3-rgba {
    color: rgba(3, 191, 137, 1);
}

.Northern-Lights-4-rgba {
    color: rgba(1, 89, 63, 1);
}

.Northern-Lights-5-rgba {
    color: rgba(3, 165, 73, 1);
}

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

h1,
h3,
h4,
h5 {
    font-family: neue-haas-unica, sans-serif;
}

h2 {
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #3D3F46;
}

.button {
    background-color: rgba(3, 165, 73, 1)
}

.mainDetails {
    border: solid 1px rgba(197, 17, 17, 0);
}

.pageTitle {
    color: rgba(78, 78, 78, 0.623);
    font-weight: bold;
    margin: 2%;
}

.detailBody {
    color: rgba(78, 78, 78, 0.897);
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    padding: 2%;
    font-size: 16px;
    border: 2px solid rgba(78, 78, 78, 0.719);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    flex-wrap: nowrap;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.tdGreen {
    color: rgb(0, 255, 0);
    font-weight: bold;
}

.tdRed {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.tabItem {
    text-align: left;
    color: #00ffb7;
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 400;
}

.spanDash {
    color: rgba(3, 191, 137, 1);
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 800;
    font-size: 2rem;
    font-style: normal;
}

.tDashboard {
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}